{% extends "wikiApp/layout.html" %}
{% load static %}

{% block content %}
            <!-- Formulario -->
            <div class="fondo d-flex">
                <div class="col-md-6 w-50">
                  
                    <form method="POST" action="{% url 'crear_tema' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre_tema" class="form-label">Nombre del Tema</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="panel-derecho col-md-9">
                    <!-- Esta sección estará vacía para el formulario de crear nuevo tema -->
                </div>
            </div>

{% endblock %}